{
  "presets": [
    ["es2015"],
    [
      "env",
      {
        "targets": {
          "node": "current"
        },
        "loose": true,
        "modules": false
      }
    ]
  ],
  "plugins": [
    [
      "transform-runtime",
      {
        "polyfill": false
      }
    ]
  ]
}
